<!-- home start -->
<section class="bg-home bg-gradient" id="home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center mb-4 pb-1">
                           <h1 class="mb-4 text-white">Perkbox 3.0 Concept</h1>
                           <p class="text-white-50 home-desc mb-5">The modern workforce is changing. The employee experience is no longer what it used to be. Your people aren’t just your employees, they’re everything that make your world of work, work.
                            </p>
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/337457375"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end container-fluid -->
        </div>
    </div>
</section>
<!-- home end -->

<!-- features start -->
<section class="section-sm" id="features">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4 pb-1">
                    <h3 class="mb-3">Our Platform</h3>
                    <p class="text-muted">These are top level features. A fully mobile experience and integrations with key workflow tools is assumed as a given.</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/bagok.png" alt="">
                    </div>
                    <h4 class="mb-2">Benefits</h4>
                    <p class="text-muted">Table tennis and beer on tap just don't cut it anymore. Allow your people to get access to the benefits that are most meaningful to them.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/ipadsmile.png" alt="">
                    </div>
                    <h4 class="mb-2">Reward & Recognition</h4>
                    <p class="text-muted">Whether it's peer to peer, manager to peer or even at a company level - drive a supportive culture of recognition from the bottom up.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/datatext.png" alt="">
                    </div>
                    <h4 class="mb-2">Employee Insights</h4>
                    <p class="text-muted">Use pulse surveys to gather real-time feedback. Understand the health of your company and affect change you want to see.</p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/education.png" alt="">
                    </div>
                    <h4 class="mb-3">Learning & Development</h4>
                    <p class="text-muted">Upload credit and give your people access to all the tools they need to keep learning and growing in their role.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/ioslove.png" alt="">
                    </div>
                    <h4 class="mb-3">Health & Support</h4>
                    <p class="text-muted">We've brought together the most integrated health & support experience. Everything in one place for when it matters most.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/template-assets/landing/icons/speakers.png" alt="">
                    </div>
                    <h4 class="mb-3">Communication</h4>
                    <p class="text-muted">Good communication is at the heart of a great employee experience. Announcements, polls, nominations and integrations we've got you covered.</p>
                </div>
            </div>
            <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container-fluid -->
</section>
<!-- features end -->

<!-- available demos start -->
<section class="section bg-light" id="demo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center mb-3">
                    <h3>Prototypes</h3>
                    <p class="text-muted">To return to this page, click "logout" when you're in the prototypes</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="demo-box bg-white mt-4 p-2">
                    <a href="/admin/login1" class="text-dark">
                        <img src="/template-assets/landing/demo/teamfirst.png" alt="" class="img-fluid mx-auto d-block">
                        <div class="p-3 text-center">
                            <h5 class="mb-0">Team Member (1st Time)</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-6">
                <div class="demo-box bg-white mt-4 p-2">
                    <a href="/admin/home" class="text-dark">
                        <img src="/template-assets/landing/demo/teammember.png" alt="" class="img-fluid mx-auto d-block">
                        <div class="p-3 text-center">
                            <h5 class="mb-0">Team Member</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-6">
                <div class="demo-box bg-white mt-4 p-2">
                    <a href="https://warm-stream-92229.herokuapp.com/admin/home" class="text-dark">
                        <img src="/template-assets/landing/demo/teammanager.png" alt="" class="img-fluid mx-auto d-block">
                        <div class="p-3 text-center">
                            <h5 class="mb-0">Team Manager </h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-6">
                <div class="demo-box bg-white mt-4 p-2">
                    <a href="https://cryptic-oasis-56321.herokuapp.com/admin/home" class="text-dark">
                        <img src="/template-assets/landing/demo/dominosbrand.png" alt="" class="img-fluid mx-auto d-block">
                        <div class="p-3 text-center">
                            <h5 class="mb-0">Admin (Dominos Branding)</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-6">
                <div class="demo-box bg-white mt-4 p-2">
                    <a href="https://pr.to/9Q0MM8/" class="text-dark">
                        <img src="/template-assets/landing/demo/mobile.png" alt="" class="img-fluid mx-auto d-block">
                        <div class="p-3 text-center">
                            <h5 class="mb-0">Mobile (Team Manager)</h5>
                            <p class="text-muted mb-0 mt-1">Password: perkbox30</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end col -->
            <!-- end col -->
            <div class="col-lg-4 col-md-6">
                <div class="demo-box bg-white mt-4 p-2">
                    <a href="https://pr.to/L6QL8X/" class="text-dark">
                        <img src="/template-assets/landing/demo/mobile.png" alt="" class="img-fluid mx-auto d-block">
                        <div class="p-3 text-center">
                            <h5 class="mb-0">Mobile (Dominos Branding)</h5>
                            <p class="text-muted mb-0 mt-1">Password: perkbox30</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- end container-fluid -->
</section>
<!-- available demos end -->


<!-- pricing start -->
<section class="section pb-0 bg-gradient" id="pricing">
    <div class="bg-shape">
        <img src="/template-assets/landing/bg-shape.png" alt="" class="img-fluid mx-auto d-block">
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h3 class="text-white">Packaging Exploration</h3>
                    <p class="text-white-50 home-desc mb-5">This exploration is based upon the natural progression through the features and thus a logical in-product upsell process.</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="pricing-plan bg-white p-4 mt-4">
                            <div class="pricing-header text-center">
                                <h5 class="plan-title text-uppercase mb-4">Package 1</h5>
                                <h1><sup><small>£</small></sup>X</h1>
                                <div class="plan-duration text-muted">Per License</div>
                            </div>
                            <ul class="list-unstyled pricing-list mt-4">
                                <li>
                                    <p>Access to all collections</p>
                                </li>
                                <li>
                                    <p>Credit management to £X<p>
                                </li>
                                <li>
                                    <p>X Users + Teams</p>
                                </li>
                                <li>
                                    <p>Basic reporting<p>
                                </li>
                                <li>
                                    <p>X integrations</p>
                                </li>
                                <hr>
                                <li>
                                    <p>Includes X free Collection offers</p>
                                </li>
                                <li>
                                    <p>Add-ons from Collections at X% off upfront</p>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-lg-4">
                        <div class="pricing-plan bg-white p-4 mt-4">
                            <div class="pricing-header text-center">
                                <h5 class="plan-title text-uppercase mb-4">Package 2</h5>
                                <h1><sup><small>£</small></sup>X</h1>
                                <div class="plan-duration text-muted">Per License</div>
                            </div>
                            <ul class="list-unstyled pricing-list mt-4">
                                <li>
                                    <p>Company logo + branding</p>
                                </li>
                                <li>
                                    <p>Custom benefits and rewards<p>
                                </li>
                                <li>
                                    <p>Send credit as a reward</p>
                                </li>
                                <li>
                                    <p>Company shoutouts<p>
                                </li>
                                <li>
                                    <p>Pulse surveys + Engagement Score<p>
                                </li>
                                <li>
                                    <p>Credit management to £Y</p>
                                </li>
                                <li>
                                    <p>Y Users + Teams</p>
                                </li>
                                <li>
                                    <p>Advanced reporting</p>
                                </li>
                                <li>
                                    <p>Y integrations</p>
                                </li>
                                <hr>
                                <li>
                                    <p>Includes X free Collection offers</p>
                                </li>
                                <li>
                                    <p>Add-ons from Collections at X% off upfront</p>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-lg-4">
                        <div class="pricing-plan bg-white p-4 mt-4">
                            <div class="pricing-header text-center">
                                <h5 class="plan-title text-uppercase mb-4">Package 3</h5>
                                <h1><sup><small>£</small></sup>X</h1>
                                <div class="plan-duration text-muted">Per License</div>
                            </div>
                            <ul class="list-unstyled pricing-list mt-4">
                                <li>
                                    <p>Peer to peer recognition</p>
                                </li>
                                <li>
                                    <p>Polls, nominations, awards</p>
                                </li>
                                <li>
                                    <p>Unlimited credit management</p>
                                </li>
                                <li>
                                    <p>Unlimited users + teams</p>
                                </li>
                                <li>
                                    <p>Advanced reporting</p>
                                </li>
                                <li>
                                    <p>Unlimited integrations</p>
                                </li>
                                <hr>
                                <li>
                                    <p>Includes X free Collection offers</p>
                                </li>
                                <li>
                                    <p>Add-ons from Collections at X% off upfront</p>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- end col-xl-10 -->

        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- pricing end -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="card">
                                            <div class="card-body">
                                                <button type="button" class="close mt-0" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3 class="mb-4 text-center"> Employee Lifecycle & Integrations</h3>

                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <iframe src="https://drive.google.com/file/d/1RjwFfAPhZS2J1sWNVgLr1zQr46zNQT-L/preview"></iframe>
                                                </div>

                                                <a href="https://drive.google.com/open?id=1vHc15IFSaQWFLuvpS2Vm79dWGdnuQAVu" class="btn btn-warning mt-4">Download Keynote</a>

                                            </div> <!-- end card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>


<!-- faqs start -->
<section class="section" id="faq">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3>Frequently Asked Questions</h3>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">Has this been thought through from a mobile pov?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Everything has been considered from a native mobile, responsive mobile and desktop POV. We want a seamless experience no matter what the device.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">Have our global aspirations been considered?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Structurally, we've considered team setups and roles to allow the platform to work on a global level. The nuance between CE and HR in France needs consideration from a role/packaging POV. Collections can be country specific. Certain countries have different tax regulations, so credit and the reporting across it needs to be considered for these more "complex" cases.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">How can this work for current Perkbox customers?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">The collection, Everyday offers, its what the majority of our customers are currently using with Perks. If companies so wish they can remain just using this, but there's also a logical in-product upsell/transition flow to introduce new features in a way that is seamless.</p>
                </div>

                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">How are teams and roles being thought about?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">We want to enable the Slack model whereby separate teams are able to signup and use Perkbox independantly. Teams needs to be thought of as predominantly working groups, but we also need to take into account "functional" teams for Insights feedback (e.g line manager hierarchical relationships). Roles need to enable global use and let team managers act autonomously within an organisation.</p>
                </div>

            </div>
            <!--/col-lg-5 -->

            <div class="col-lg-5">
                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">How does the platform integrate with other workplace tools?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted"><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Here's a keynote to explain it further.</a> Creating teams and importing users needs to work with the key HR systems. Integrating with the likes of Zapier will allow customers to trigger rewards based off custom behaviours (code pushes vs targets hit). Naturally everything we do should be work seamlessly with Slack. e.g Pulse surveys appearing in Slack, recognising people with a /recognise command etc</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">What are the next steps for delivering this?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted"><a href="https://drive.google.com/open?id=17dCJEG68sZUUbWHcf5_v25u-WI6WYJZF">Here's a roadmap</a> with resource requirements and key milestones.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question">How are you planning on validating this concept?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted"><a href="https://drive.google.com/open?id=1xFYky3nHTPDYu8O8eqCHdmdyOII8SS71">Here's a validation plan</a> with budget requirements and key milestones.</p>
                </div>

            </div>
            <!--/col-lg-5-->
        </div>
        <!-- end row -->

    </div> <!-- end container-fluid -->
</section>
<!-- faqs end -->

<!-- testimonial start -->
<section class="section bg-light" id="clients">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h3>Some customer feedback so far</h3>
                    <p class="text-muted">We're in the process of collating all feedback and creating digestible reports</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc bg-white p-4">
                        <p class="text-muted mb-0">"I think it could make a lot of things, especially in our company, really streamlined, really localised. It’s really obvious how to find things, to link people to things. I like how it works, how it looks. I really like the human element of it - the fact that you are rewarding your colleagues, it’s a very nice thing to do. And obviously you can keep track of stuff, you know why you got a reward.
It covers a lot of different things that we have, as it stands in separate different sites, which is very clunky because it’s not all in one place. This looks like it would make a lot of people’s lives easier.
"</p>
                    </div>
                    <div class="p-4">
                        <div class="testi-img float-left mr-2">
                            <img src="/template-assets/landing/nancy.png" alt="" class="rounded-circle">
                        </div>
                        <div>
                            <h5 class="mb-0">Nancy</h5>
                            <p class="text-muted m-0"><small>- Team Lead in Recruitment, EUROLONDON</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc bg-white p-4">
                        <p class="text-muted mb-0">"For a manager to have more involvement is brilliant. Across a thousand stores, all area managers are currently doing something different. So to have a platform where everyone has access to the same level of credit would give us the autonomy to gift around. 
It’s good that you have the option to reward privately. If someone has done a great job and I think they deserve 50 credits, I would send that to them in private. But then equally, if it’s obvious that someone has gone beyond everyone else, you should make it obvious for everybody to see
"</p>
                    </div>
                    <div class="p-4">
                        <div class="testi-img float-left mr-2">
                            <img src="/template-assets/landing/testi/Adam.png" alt="" class="rounded-circle">
                        </div>
                        <div>
                            <h5 class="mb-0">Adam</h5>
                            <p class="text-muted m-0"><small>- Regional Manager in Retail, HOLLAND & BARRETT</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc bg-white p-4">
                        <p class="text-muted mb-0">"I really like the gifted section where the company puts what they’re doing for you. I think that’s quite important. The other thing I think is really good is the credit system so people can actually get more if they deserve more. It’s an aspirational thing, they do more and they can get something in exchange."</p>
                    </div>
                    <div class="p-4">
                        <div class="testi-img float-left mr-2">
                            <img src="/template-assets/landing/testi/Michela.png" alt="" class="rounded-circle">
                        </div>
                        <div>
                            <h5 class="mb-0">Michela</h5>
                            <p class="text-muted m-0"><small>- Studio Manager in Furniture Design, BLAKES</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

        </div> 
        <!-- end row -->

        <div class="text-center mt-4">
                    <a href="https://docs.google.com/document/d/1CPOGOVcQtx0m3S9YKu0jnqfyvS1tVsl1mBcfs0iKBIk/edit?usp=sharing" class="btn btn-light">View more quote snippets</a>
                </div>

        <div class="row justify-content-center mt-5">
                    <div class="col-lg-6">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/337458880"></iframe>
                            </div>

                            <div class="text-center mt-4">
                    <a href="https://drive.google.com/open?id=1v04FBoc2veKsp38tK9bacKyckV1_jSd0" class="btn btn-light">View more video snippets</a>
                </div>
            </div>
        </div>

    </div> 
    <!-- end container-fluid -->
</section>
<!-- testimonial end -->




