<%- content_for :head_css do %>
  
<% end %>
<div class="wrapper">
            <div class="container">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box text-center">
                            <h4 class="page-title">Collections</h4>
                            <p class="mb-4">Collections cover the vast array of tools needed to empower you both in and out of work.</p>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <div class="row">
                    <div class="col-lg-3">
                        <div class="card-box">
                            <div class="text-center">
                                <img src="/template-assets/images/blob2.png" alt="logo" class="avatar-xl rounded-circle mb-3">
                                <h4 class="mb-1 font-20">Company Extras</h4>
                                
                            </div>

                            <p class="font-14 text-center text-muted mt-4 mb-3">
                                Curated and bespoke company extras that you're able to purchase with credit.
                            </p>

                            <div class="text-center">
                                <a href="/admin/company" class="btn btn-sm btn-light">Explore</a>
                            </div>

                            
                        </div> <!-- end card-box -->
                    </div>
<!-- end col -->

                    <div class="col-lg-3">
                        <div class="card-box">
                            <div class="text-center">
                                <img src="/template-assets/images/blob2.png" alt="logo" class="avatar-xl rounded-circle mb-3">
                                <h4 class="mb-1 font-20">Everyday Offers</h4>
                                
                            </div>

                            <p class="font-14 text-center text-muted mt-4 mb-3">
                                Explore hundreds of everyday offers and make financial savings across a plethora of retailers.
                            </p>

                            <div class="text-center">
                                <a href="/admin/everyday" class="btn btn-sm btn-light">Explore</a>
                            </div>

                            
                        </div> <!-- end card-box -->
                    </div>
<!-- end col -->

                    <div class="col-lg-3">
                        <div class="card-box">
                            <div class="text-center">
                                <img src="/template-assets/images/blob2.png" alt="logo" class="avatar-xl rounded-circle mb-3">
                                <h4 class="mb-1 font-18">Learning & Development</h4>
                                
                            </div>

                            <p class="font-14 text-center text-muted mt-4 mb-3">
                                From courses to books and beyond. Learn & grow so you can realise your potential.
                            </p>

                            <div class="text-center">
                                <a href="/admin/learning" class="btn btn-sm btn-light">Explore</a>
                            </div>

                            
                        </div> <!-- end card-box -->
                    </div>
<!-- end col -->

                    <div class="col-lg-3">
                        <div class="card-box">
                            <div class="text-center">
                                <img src="/template-assets/images/blob2.png" alt="logo" class="avatar-xl rounded-circle mb-3">
                                <h4 class="mb-1 font-20">Health & Support</h4>
                                
                            </div>

                            <p class="font-14 text-center text-muted mt-4 mb-3">
                                The most connected experience, so you have everything you need when it matters most.
                            </p>

                            <div class="text-center">
                                <a href="/admin/health" class="btn btn-sm btn-light">Explore</a>
                            </div>

                            
                        </div> <!-- end card-box -->
                    </div>
<!-- end col -->
                    </div>

                    <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Suggested for you</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                    <div class="row pb-5">
                                        <div class="col-sm-12 col-lg-4 mb-2" data-isotope-item="" data-category="Branding">
                                            <a href="/admin/adidas">
                                              <img src="/template-assets/images/products/adidas.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0 ">
                                              <h4 class="mt-3">Adidas <span class="discount float-right small">2% Off</span></h4>
                                              <p class="small text-muted">Discount code</p>
                                            </a>
                                          </div>

                                          <div class="col-sm-12 col-lg-4 mb-4" data-isotope-item="" data-category="Branding">
                                            <a href="/admin/apple">
                                              <img src="/template-assets/images/products/apple.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0 ">
                                              <h4 class="mt-3">Apple <span class="discount float-right small">5% Off</span></h4>
                                              <p class="small text-muted">Discount code</p>
                                            </a>
                                          </div>

                                          <div class="col-sm-12 col-lg-4 mb-4" data-isotope-item="" data-category="Branding">
                                            <a href="/admin/netflix">
                                              <img src="/template-assets/images/products/netflix.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0 ">
                                              <h4 class="mt-3">Netflix <span class="discount float-right small">3% Off</span></h4>
                                              <p class="small text-muted">Discount code</p>
                                            </a>
                                          </div>

                                          <div class="col-sm-12 col-lg-4 mb-2" data-isotope-item="" data-category="Branding">
                                            <a href="/admin/tesco">
                                              <img src="/template-assets/images/products/tesco.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0 ">
                                              <h4 class="mt-3">Tesco <span class="discount float-right small">5% Off</span></h4>
                                              <p class="small text-muted">From £10</p>
                                            </a>
                                          </div>

                                          <div class="col-sm-12 col-lg-4 mb-2" data-isotope-item="" data-category="Branding">
                                            <a href="/admin/asos">
                                              <img src="/template-assets/images/products/asos.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0 ">
                                              <h4 class="mt-3">Asos <span class="discount float-right small">4% Off</span></h4>
                                              <p class="small text-muted">From £30</p>
                                            </a>
                                          </div>

                                          <div class="col-sm-12 col-lg-4 mb-2" data-isotope-item="" data-category="Branding">
                                            <a href="#">
                                              <img src="/template-assets/images/products/youtube.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0 ">
                                              <h4 class="mt-3">Youtube <span class="discount float-right small">5% Off</span></h4>
                                              <p class="small text-muted">Discount code</p>
                                            </a>
                                          </div>
                                        </div>
                    
                
            </div> <!-- end container -->
        </div><%- content_for :footer_js do %>
  
<% end %>
