<%- content_for :head_css do %>
  
<% end %>
<div class="wrapper">
            <div class="container">

                <ol class="breadcrumb" style="margin-bottom: -10px;">
                    <li class="breadcrumb-item"><a href="/admin/gifted">Gifted</a></li>
                    <li class="breadcrumb-item active">2 days holiday</li>
                </ol>
               

                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-xl-8">

                                    <div class="tab-content pt-0">
                                        <div class="tab-pane active show" id="product-1-item">
                                            <img src="/template-assets/images/products/2daysholiday.jpg" alt="" class="img-fluid mx-auto d-block rounded border">
                                        </div>
                                    </div>

                                    <br>

                                    <div id="accordion" class="mb-3">
                                        <div class="card mb-1">
                                            <div class="card-header" id="headingOne" style="background-color: #fff" ;="">
                                                <h5 class="m-0">
                                                    <a class="text-dark collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                                                        Details <i class="mdi mdi-chevron-down float-right"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                                <div class="card-body">
                                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-1">
                                            <div class="card-header" id="headingTwo" style="background-color: #fff" ;="">
                                                <h5 class="m-0">
                                                    <a class="text-dark" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                                                        FAQ <i class="mdi mdi-chevron-down float-right"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-1">
                                            <div class="card-header" id="headingTwo" style="background-color: #fff" ;="">
                                                <h5 class="m-0">
                                                    <a class="text-dark" data-toggle="collapse" href="#collapseTwo1" aria-expanded="false">
                                                        Terms & Conditions <i class="mdi mdi-chevron-down float-right"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div> <!-- end col -->
                                <div class="col-xl-4">
                                    <div class="pl-xl-3 mt-3 mt-xl-0">

                                        <div class="media mt-3">
                                          <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/perkboxlogo.png" alt="Generic placeholder image">
                                          <div class="media-body">
                                              <h3 class="m-0 mb-2">2 days holiday </h3>
                                              <span class="badge badge-light badge-pill lg">Company Benefit</span>
                                                <span class="badge badge-light badge-pill lg">Work Life Balance</span>
                                          </div>
                                      </div>

                                        
                                        <p class="text-muted mb-4 mt-4">At Perkbox, we firmly believe in striking the right balance between work and personal commitments. That's why as a benefit for working with us, you get an extra 2 days holiday on top of the standard 28 days. These extra days of holiday can be taken at a time that suits you and are to be organised with your line manager</p>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i> Use between Jan 2019 and Dec 2019</p>
                                                    <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i> Organise with your line manager</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i> Date of your choosing</p>
                                                    <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i> Can't be carried forwards</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <button type="button" class="btn btn-warning btn-block">Book holiday</button>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div>
                            <!-- end row -->


                            
                            </div>

                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
                
            </div> <!-- end container -->
        </div><%- content_for :footer_js do %>
  
<% end %>
