<%- content_for :head_css do %>
  
<% end %>
<div class="wrapper">
            <div class="container">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h1 class="page-title">Notifications</h1>
                            <p class="mb-4">Update your <a href="/admin/profileedit#aboutme">notification preferences</a></p>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <div class="row">
                    <div class="col-12">

                        <ul class="list-group">

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-1 mt-2">
                                        <a href="#"> <i class="fe-x space text-muted"></i></a>
                                    </div>
                                    <div class="col-1 mt-1">
                                        <img class="avatar-sm rounded-circle bill" src="/template-assets/images/users/elsa.jpg" alt="Generic placeholder image">
                                    </div>
                                    <div class="col-6 mt-2">
                                        <p class="notifications"><a href="/admin/profile2">Recognition</a> from Elsa Bacchiolelli</p>
                                    </div>
                                    <div class="col-4 mt-2">
                                        <p class="text-muted float-right">Just now</p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-1 mt-2">
                                        <a href="#"> <i class="fe-x space text-muted"></i></a>
                                    </div>
                                    <div class="col-1 mt-1">
                                        <img class="avatar-sm rounded-circle bill" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                    </div>
                                    <div class="col-6 mt-2">
                                        <p class="notifications"><a href="/admin/profile2">Shoutout</a> from Paul Schulz</p>
                                    </div>
                                    <div class="col-4 mt-2">
                                        <p class="text-muted float-right">10 minutes ago</p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-1 mt-2">
                                        <a href="#"> <i class="fe-x space text-muted"></i></a>
                                    </div>
                                    <div class="col-1 mt-1">
                                        <img class="avatar-sm rounded-circle bill" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                    </div>
                                    <div class="col-6 mt-2">
                                        <p class="notifications"><a href="/admin/profile3">Reward</a> from Paul Schulz</p>
                                    </div>
                                    <div class="col-4 mt-2">
                                        <p class="text-muted float-right">1 day ago</p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-1 mt-2">
                                        <a href="#"> <i class="fe-x space text-muted"></i></a>
                                    </div>
                                    <div class="col-1 mt-1">
                                        <img class="avatar-sm rounded-circle bill" src="/template-assets/images/users/elsa.jpg" alt="Generic placeholder image">
                                    </div>
                                    <div class="col-6 mt-2">
                                        <p class="notifications"><a href="/admin/hub">Team action</a> from Paul Schulz</p>
                                    </div>
                                    <div class="col-4 mt-2">
                                        <p class="text-muted float-right">3 days ago</p>
                                    </div>
                                </div>
                            </li>
  

                        </ul>
                        

                        
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
                
            </div> <!-- end container -->
        </div><%- content_for :footer_js do %>
  
<% end %>
