<%- content_for :head_css do %>
  
<% end %>
<div class="wrapper">
            <div class="container">

                <ol class="breadcrumb" style="margin-bottom: -10px;">
                    <li class="breadcrumb-item"><a href="/admin/gifted">Gifted</a></li>
                    <li class="breadcrumb-item active">10:30 Starts</li>
                </ol>
               

                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-xl-8">

                                    <div class="tab-content pt-0">
                                        <div class="tab-pane active show" id="product-1-item">
                                            <img src="/template-assets/images/products/1030starts.jpg" alt="" class="img-fluid mx-auto d-block rounded border">
                                        </div>
                                    </div>

                                    <br>

                                    <div id="accordion" class="mb-3">
                                        <div class="card mb-1">
                                            <div class="card-header" id="headingOne" style="background-color: #fff" ;="">
                                                <h5 class="m-0">
                                                    <a class="text-dark collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                                                        Details <i class="mdi mdi-chevron-down float-right"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                                <div class="card-body">
                                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-1">
                                            <div class="card-header" id="headingTwo" style="background-color: #fff" ;="">
                                                <h5 class="m-0">
                                                    <a class="text-dark" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                                                        FAQ <i class="mdi mdi-chevron-down float-right"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-1">
                                            <div class="card-header" id="headingTwo" style="background-color: #fff" ;="">
                                                <h5 class="m-0">
                                                    <a class="text-dark" data-toggle="collapse" href="#collapseTwo1" aria-expanded="false">
                                                        Terms & Conditions <i class="mdi mdi-chevron-down float-right"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div> <!-- end col -->
                                <div class="col-xl-4">
                                    <div class="pl-xl-3 mt-3 mt-xl-0">
                                        <div class="media mt-3">
                                          <img class="mr-2 avatar-xs rounded-circle" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                          <div class="media-body">
                                              <h3 class="m-0">10:30 starts</h3>
                                              <p class="mt-1 text-muted small">From Paul Schulz for <span class="badge badge-light badge-pill lg">Work Life Balance</span></p>
                                          </div>
                                      </div>

                                        
                                        <p class="text-muted mb-4 mt-2">I've been getting a lot of feedback recently (from insights but also just the general vibe in the office) that people are feeling the stress of all the work and starting to feel spent. As a nod to this, I've haggled with the powers that be and for the next week, you can all come in at 10:30. Enjoy a lie-in.</p>
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div>
                                                    <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i> Valid w/c 12th May</p>
                                                    <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i> Enjoy your lie-in!</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <button type="button" class="btn btn-warning btn-block">Just enjoy!</button>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div>
                            <!-- end row -->


                            
                            </div>

                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
                
            </div> <!-- end container -->
        </div><%- content_for :footer_js do %>
  
<% end %>
