@import 'rubik';
@import 'sf-ui-font';

p.notifications {
  margin-left: -80px;
}

#view-code{
  color:#48cfad; 
  font-size:14px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:640px; left:50%;margin-left:-35px;
}
#view-code:hover{color:#34c29e;}

/* --- Product Card ---- */
#make-3D-space{
    position: relative;
    perspective: 800px;
    width:340px;
    height:500px;
    transform-style: preserve-3d;
    transition: transform 5s;
    position:absolute;    
    top:80px;
    left:50%; 
    margin-left:-167px;
}
#product-front, #product-back{
  width:335px;
  height:500px;
  background:#fff;
  position:absolute;
  left:-5px;
  top:-5px;
  -webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
#product-back{
  display:none;
  transform: rotateY( 180deg );
}
#product-card.animate #product-back, #product-card.animate #product-front{
  top:0px;
  left:0px;
  -webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
#product-card{
  width:325px;
  height:490px;
  position:absolute;    
  top:10px;
  left:10px;  
  overflow:hidden;
    transform-style: preserve-3d;
  -webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;
}
div#product-card.flip-10{
   -webkit-transform: rotateY( -10deg );
         -moz-transform: rotateY( -10deg );
           -o-transform: rotateY( -10deg );
              transform: rotateY( -10deg );
         transition:  50ms ease-out;      
}
div#product-card.flip90{
   -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );
         transition:  100ms ease-in;      
}
div#product-card.flip190{
   -webkit-transform: rotateY( 190deg );
         -moz-transform: rotateY( 190deg );
           -o-transform: rotateY( 190deg );
              transform: rotateY( 190deg );
         transition:  100ms ease-out;       
}
div#product-card.flip180{
   -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
         transition:  150ms ease-out;       
}
#product-card.animate{
  top:5px;
  left:5px;
  width:335px;
  height:500px;
  box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
.stats-container{
  background:#fff;  
  position:absolute;
  top:386px;
  left:0;
  width:265px;
  height:300px;
  padding:27px 35px 35px; 
  -webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
#product-card.animate .stats-container{
  top:272px;
  -webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
  font-size:22px;
  color:#393c45;  
}
.stats-container p{
  font-size:16px;
  color:#b1b1b3;  
  padding:2px 0 20px 0;
}
.stats-container .product_price{
  float:right;
  color:#48cfad;
  font-size:22px;
  font-weight:600;
}
.image_overlay{
  position:absolute;
  top:0;
  left:0; 
  width:100%;
  height:100%;
  background:#48daa1;
  opacity:0;  
}
#product-card.animate .image_overlay{
  opacity:0.7;  
  -webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
  padding:2px 0 0;
}
.product-options strong{
  font-weight:700;
  color:#393c45;
  font-size:14px;
}
.product-options span{  
  color:#969699;
  font-size:14px;
  display:block;
  margin-bottom:8px;
}
#view_details{  
  position:absolute;
  top:112px;
  left:50%;
  margin-left:-85px;  
  border:2px solid #fff;
  color:#fff;
  font-size:19px;
  text-align:center;
  text-transform:uppercase;
  font-weight:700;
  padding:10px 0;
  width:172px;  
  opacity:0;
  -webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
#view_details:hover{  
  background:#fff;
  color:#48cfad;
  cursor:pointer;

}
#product-card.animate #view_details{
  opacity:1;
  width:152px;
  font-size:15px;
  margin-left:-75px;
  top:115px;
  -webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;     
}
div.colors div{
  margin-top:3px;
  width:15px; 
  height:15px;  
  margin-right:5px;
  float:left;
}
div.colors div span{
  width:15px; 
  height:15px; 
  display:block;
  border-radius:50%;
}
div.colors div span:hover{
  width:17px;
  height:17px;
  margin:-1px 0 0 -1px;
}
div.c-blue span{background:#6e8cd5;}
div.c-red span{background:#f56060;}
div.c-green span{background:#44c28d;}
div.c-white span{
  background:#fff;
  width:14px;
  height:14px; 
  border:1px solid #e8e9eb;
}
div.shadow{
  width:335px;height:520px;
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  z-index:3;
  display:none;
  background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
#product-back div.shadow{
  z-index:10;
  opacity:1;
  background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}
#flip-back{
  position:absolute;
  top:20px;
  right:20px;
  width:30px;
  height:30px;
  cursor:pointer;
}
#cx, #cy{
  background:#d2d5dc;
  position:absolute;
  width:0px;
  top:15px;
  right:15px;
  height:3px;
  -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
     -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
}
#flip-back:hover #cx, #flip-back:hover #cy{
  background:#979ca7;
  -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
     -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
}
#cx.s1, #cy.s1{ 
  right:0;  
  width:30px; 
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
#cy.s2{ 
  -ms-transform: rotate(50deg); 
  -webkit-transform: rotate(50deg); 
  transform: rotate(50deg);    
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
#cy.s3{ 
  -ms-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
  transform: rotate(45deg);    
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
#cx.s1{ 
  right:0;  
  width:30px; 
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
#cx.s2{ 
  -ms-transform: rotate(140deg); 
  -webkit-transform: rotate(140deg); 
  transform: rotate(140deg);     
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
#cx.s3{ 
  -ms-transform: rotate(135deg); 
  -webkit-transform: rotate(135deg); 
  transform: rotate(135deg);     
  -webkit-transition: all 100ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
#carousel{
  width:335px;
  height:500px;
  overflow:hidden;
  position:relative;

}
#carousel ul{
  position:absolute;
  top:0;
  left:0;
}
#carousel li{
  width:335px;
  height:500px;
  float:left;
  overflow:hidden;  
}
.arrows-perspective{
  width:335px;
  height:55px;
  position: absolute;
  top: 218px;
  transform-style: preserve-3d;
    transition: transform 5s;
  perspective: 335px;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023F92;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 30% 30%;
}


[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}

[for='toggle-heart'] {
  color: #aab8c2;
}

[id='toggle-heart']:checked + label {
  color: #e2264d;
}

[for='toggle-heart'] {
  font-size: 1rem;
  cursor: pointer;
}


@keyframes heart { 0%, 17.5% { font-size: 0.4em; } }

[id='toggle-heart']:checked + label {
  will-change: font-size;
  animation: heart .5s cubic-bezier(.17, .89, .32, 1.49,);
}

[for='toggle-heart'] {
  position: relative;

  &:before, &:after {
    position: absolute;
    z-index: -1;
    top: 50%; left: 50%;
    border-radius: 50%;
    content: '';
  }
}

.navbar-custom .topnav-menu .nav-link {
  padding: 0 15px;
  color: #6c757d;
  min-width: 32px;
  display: block;
  line-height: 70px;
  text-align: center;
  max-height: 70px;
  outline: none !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.125)
}


@viewport {
  width: device-width;
    zoom: 1;
    min-zoom: 0.5;
    max-zoom: 3;
    user-zoom: fixed;
}

.border-light {
  border-color: #e4ebef !important;
  border-radius: 5px;
}

.btn.text-muted:hover {
  color: #677881 !important;
}

h2.text-center.mt-3.mb-3.collapsed:hover {
  color: #0496ff;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


.mdi.mdi-wallet-outline.noti-icon.wallet {
	font-size: 16px;
	color: #7d868e;
	margin-left: -2px;
}

i.fe-x.space {
	margin-right: 20px;
}

#topnav .navbar-toggle span {
  height: 2px;
  width: 100%;
  background-color: #6c757d;
  display: block;
  margin-bottom: 5px;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.navbar-custom .topnav-menu .nav-link:hover {
  color: #0496ff;
}

.navbar-custom {
font-size: 15px;
}


@import "admin/_icons";

//Fonts
@import "admin/custom/fonts/fonts";
@import "font-awesome";

//Core files
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "admin/_variables";
@import "bootstrap";

//Components
@import "admin/custom/components/accordions";
@import "admin/custom/components/badge";
@import "admin/custom/components/backgrounds";
@import "admin/custom/components/breadcrumb";
@import "admin/custom/components/buttons";
@import "admin/custom/components/card";
@import "admin/custom/components/dropdown";
@import "admin/custom/components/forms";
@import "admin/custom/components/modal";
@import "admin/custom/components/nav";
@import "admin/custom/components/pagination";
@import "admin/custom/components/popover";
@import "admin/custom/components/progress";
@import "admin/custom/components/reboot";
@import "admin/custom/components/tables";
@import "admin/custom/components/type";

// Structure
@import "admin/custom/structure/general";
@import "admin/custom/structure/horizontal-nav";
@import "admin/custom/structure/topbar";
@import "admin/custom/structure/page-head";
@import "admin/custom/structure/footer";
@import "admin/custom/structure/right-sidebar";

//Components
@import "admin/custom/components/helper";
@import "admin/custom/components/social";
@import "admin/custom/components/widgets";
@import "admin/custom/components/custom-checkbox";
@import "admin/custom/components/custom-radio";
@import "admin/custom/components/ribbons";
@import "admin/custom/components/print";
@import "admin/custom/components/preloader";

//Pages
@import "admin/custom/pages/authentication";
@import "admin/custom/pages/components-demo";
@import "admin/custom/pages/error";
@import "admin/custom/pages/logout";
@import "admin/custom/pages/faq";
@import "admin/custom/pages/maintenance";
@import "admin/custom/pages/timeline";
@import "admin/custom/pages/email";
@import "admin/custom/pages/sitemap";
@import "admin/custom/pages/search-results";
@import "admin/custom/pages/pricing";
@import "admin/custom/pages/gallery";
@import "admin/custom/pages/coming-soon";
@import "admin/custom/pages/profile";
@import "admin/custom/pages/taskboard";
@import "admin/custom/pages/ecommerce";
@import "admin/custom/pages/everyday";


// Plugins
@import "admin/custom/plugins/waves";
@import "admin/custom/plugins/ion-rangeslider";
@import "admin/custom/plugins/calendar";
@import "admin/custom/plugins/sparkline-chart";
@import "admin/custom/plugins/datatable";
@import "admin/custom/plugins/daterange";
@import "admin/custom/plugins/form-wizard";
@import "admin/custom/plugins/select2";
@import "admin/custom/plugins/slimscroll";
@import "admin/custom/plugins/toaster";
@import "admin/custom/plugins/sweetalert";
@import "admin/custom/plugins/custom-select";
@import "admin/custom/plugins/tippy";
@import "admin/custom/plugins/nestable-list";
@import "admin/custom/plugins/hopscotch";
@import "admin/custom/plugins/flot";
@import "admin/custom/plugins/morris";
@import "admin/custom/plugins/chartjs";
@import "admin/custom/plugins/chartist";
@import "admin/custom/plugins/c3";
@import "admin/custom/plugins/ricksaw";
@import "admin/custom/plugins/responsive-table";
@import "admin/custom/plugins/footables";
@import "admin/custom/plugins/bootstrap-tables";
@import "admin/custom/plugins/tablesaw";
@import "admin/custom/plugins/jsgrid";
@import "admin/custom/plugins/multiple-select";
@import "admin/custom/plugins/autocomplete";
@import "admin/custom/plugins/bootstrap-select";
@import "admin/custom/plugins/bootstrap-touchspin";
@import "admin/custom/plugins/parsley";
@import "admin/custom/plugins/flatpickr";
@import "admin/custom/plugins/clockpicker";
@import "admin/custom/plugins/summernote";
@import "admin/custom/plugins/quilljs-editor";
@import "admin/custom/plugins/dropzone";
@import "admin/custom/plugins/dropify";
@import "admin/custom/plugins/x-editable";
@import "admin/custom/plugins/cropper";
@import "admin/custom/plugins/google-maps";
@import "admin/custom/plugins/vector-maps";
@import "admin/custom/plugins/mapeal-maps";
@import "admin/custom/plugins/datepicker";


h1,h2,h3,h4,h5,h6 {
  font-family: 'Rubik-Regular', sans-serif;
}