@font-face {
    font-family: 'Rubik-BoldItalic';
    src: font-url('rubik/Rubik-BoldItalic.eot');
    src: font-url('rubik/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-BoldItalic.woff2') format('woff2'),
        font-url('rubik/Rubik-BoldItalic.woff') format('woff'),
        font-url('rubik/Rubik-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Black';
    src: font-url('rubik/Rubik-Black.eot');
    src: font-url('rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-Black.woff2') format('woff2'),
        font-url('rubik/Rubik-Black.woff') format('woff'),
        font-url('rubik/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: font-url('rubik/Rubik-Medium.eot');
    src: font-url('rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-Medium.woff2') format('woff2'),
        font-url('rubik/Rubik-Medium.woff') format('woff'),
        font-url('rubik/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Light';
    src: font-url('rubik/Rubik-Light.eot');
    src: font-url('rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-Light.woff2') format('woff2'),
        font-url('rubik/Rubik-Light.woff') format('woff'),
        font-url('rubik/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-MediumItalic';
    src: font-url('rubik/Rubik-MediumItalic.eot');
    src: font-url('rubik/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-MediumItalic.woff2') format('woff2'),
        font-url('rubik/Rubik-MediumItalic.woff') format('woff'),
        font-url('rubik/Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Italic';
    src: font-url('rubik/Rubik-Italic.eot');
    src: font-url('rubik/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-Italic.woff2') format('woff2'),
        font-url('rubik/Rubik-Italic.woff') format('woff'),
        font-url('rubik/Rubik-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-LightItalic';
    src: font-url('rubik/Rubik-LightItalic.eot');
    src: font-url('rubik/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-LightItalic.woff2') format('woff2'),
        font-url('rubik/Rubik-LightItalic.woff') format('woff'),
        font-url('rubik/Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: font-url('rubik/Rubik-Bold.eot');
    src: font-url('rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-Bold.woff2') format('woff2'),
        font-url('rubik/Rubik-Bold.woff') format('woff'),
        font-url('rubik/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-BlackItalic';
    src: font-url('rubik/Rubik-BlackItalic.eot');
    src: font-url('rubik/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-BlackItalic.woff2') format('woff2'),
        font-url('rubik/Rubik-BlackItalic.woff') format('woff'),
        font-url('rubik/Rubik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: font-url('rubik/Rubik-Regular.eot');
    src: font-url('rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubik-Regular.woff2') format('woff2'),
        font-url('rubik/Rubik-Regular.woff') format('woff'),
        font-url('rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

